<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a marine scientist investigating the interactions between marine biogeochemistry and physical
          oceanography. My primary focus is how these processes interact in coastal environments such as coral reefs
          and kelp forests.</p>
      </div>
      <div class="col-lg-4">
        <p>I work across coral reefs and sediments, using both numerical models and field observations to understand
          how carbon and nutrients move through, and are transformed within, coastal ecosystems.</p>
      </div>
    </div>
  </div>
</section>
