<!-- Publications Section -->
<section class="success" id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Publications</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        {% if site.data.publications.size > 0 %}
        <ul class="list-unstyled publication-list">
          {% for pub in site.data.publications %}
          <li>
            {{ pub.authors }} ({{ pub.year }}).
            {% if pub.url %}<a href="{{ pub.url }}">{{ pub.title }}</a>{% else %}{{ pub.title }}{% endif %}.
            <em>{{ pub.journal }}</em>.
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="text-center">A list of my publications is coming soon.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
